@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

PLÁSTICOS SILVATRIM DE COLOMBIA S.A.

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #000;
$secondary_color: #cb353a;
$background: #303030;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: $background;
	.moduletable_to1 {
		padding: 10px 0;
		p {
			margin: 0;
			color: #fff;
		}
	}
}

/* Logo */

.logo {
	.moduletable_lo1 {
		padding: 10px 0;
		p {
			margin: 0;
		}
	}
}

/* Menu */

.menu_wrap {
	height: 45px;
	ul.dj-megamenu {
		height: 45px;
		background: $secondary_color;
		li {
			padding: 0 20px !important;
			&.active,
			&.hover {
				a {
					background: transparent;
					background-color: #fff;
					color: $secondary_color;
				}
			}
			a {
				height: inherit;
				padding: 10px 20px;
				border: none;
				font: {
					family: 'Open Sans', sans-serif;
					size: 16px;
					weight: normal;
				}
				text-transform: uppercase;
				span {
					height: inherit;
					line-height: inherit;
					em.arrow {
						top: 10px;
						right: 30px;
					}
				}
			}
			.dj-subwrap {
				background-color: #fff;
				ul.dj-submenu {
					margin: 0;
					li {
						background: none;
						border: none;
						&.hover {
							a {
								background-color: $secondary_color;
								color: #fff;
							}
						}
						a {
							height: inherit;
							background-color: #fff;
							color: $secondary_color;
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.columns {
		padding: 0;
	}
}

/* Home */

.home {
	padding-bottom: 20px;
	background: {
		image: url(home_bg.png);
		repeat: no-repeat;
		position: bottom;
	}
}

/* Component */

.component {
	padding: 20px 0;
	.space {
		margin-bottom: 20px;
	}
	.grey,
	.white,
	.photo {
		padding: 0;
		h2 {
			margin: 0;
			margin-top: 20px;
			padding: 10px;
			font-size: 18px;
		}
		p {
			margin: 0;
			padding: 0 20px 20px 20px;
		}
	}
	.grey {
		background-color: $background;
		h2 {
			background: {
				image: url(h2_grey_bg.png);
				position: top;
				repeat: no-repeat;
			}
		}
		h2,
		p {
			color: #fff;
		}
	}
	.white {
		h2 {
			background: {
				image: url(h2_white_bg.png);
				position: top;
				repeat: no-repeat;
			}
		}
		h2,
		p {
			color: $background;
		}
	}
}

/* Location */

.location {
	.moduletable_loc1 {
		.address {
			padding: 0;
			background-color: $secondary_color;
			p {
				color: #f2e8df;
			}
		}
		.map {
			padding: 0;
			iframe {
				border: 0;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $background;
	.moduletable_bo1 {
		font-size: 12px;
		color: #f2e8df;
		text-align: center;
		a {
			color: #f2e8df;
		}
	}
}

/* Copyright */

.copyright_wrap {
	padding-bottom: 10px;
	background-color: $background;
	.copyright {
		font-size: 12px;
		color: #fff;
		text-align: center;
		a {
			color: #fff;
		}
	}
}

/* ---------- Components ---------- */

/* ChronoForms */

.chronoform {
	h2 {
		margin: 10px 0;
		padding: 10px;
		background: {
			image: url(h2_white_bg.png);
			position: top;
			repeat: no-repeat;
		}
		font-size: 18px;
	}
	input[type=text],
	textarea {
		background-color: $background;
		border: none;
		box-shadow: none;
		font-size: 12px;
	}
	#ftd-enviar {
		text-align: center;
	}
	.button {
		margin: 0;
		background-color: $secondary_color;
		font-size: 12px;
		text-transform: uppercase;
	}
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
	a {
		font-size: 0;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.menu_wrap {
		height: inherit;
		padding: 5px 0;
		.dj-megamenu-accordion {
			.dj-mobile-open-btn {
				background: #fff;
				color: $secondary_color;
			}
			.dj-accordion {
				.dj-accordion-in {
					background: transparent;
					ul.dj-mobile-nav {
						margin: 0;
						li {
							&.current {
								a {
									background-color: $secondary_color;
									color: #fff;
								}
							}
							a {
								padding: 10px;
								background: transparent;
								border: none;
								span.toggler {
									padding: 5px 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	/* Home */

	.home {
		.moduletable_ho1 {
			.columns {
				margin-top: 20px;
			}
		}
	}

	/* Location */

	.location {
		.moduletable_loc1 {
			.address {
				p {
					margin: 20px 0;
				}
			}
		}
	}

	/* ChronoForms */

	.chronoform {
		.button {
			margin-bottom:20px;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {

	/* Banner */

	.banner {
		margin-top: -45px;
		position: relative;
		z-index: 1;
	}

	/* Home */

	.home {
		margin-top: -88px;
		position: relative;
		z-index: 2;
	}

	/* Location */

	.location {
		.moduletable_loc1 {
			.address {
				p {
					margin: 85px 0;
				}
			}
		}
	}

}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}